    .board {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-gap: 5px;
            justify-content: center;
        }
        .cell {
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            font-size: 36px;
            border: 1px solid #000;
            cursor: pointer;
        }
